.about#about
    .container
        .about__title.title Обо Мне
        .about__inner
            .about__pic(style="background-image: url('assets/images/about.jpg')")
            .about__text
                span Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero eum delectus autem enim nam, omnis ducimus facilis accusantium eos nihil cumque mollitia, cum ea est id iste explicabo odio. Corporis?