.about#about
    .container
        .about__title.title Обо Мне
        .about__inner
            .about__pic(style="background-image: url('assets/images/about.jpg')")
            .about__text
                span 2&nbsp;года назад понял, что верстать сайты&nbsp;&mdash; это&nbsp;то, чем я&nbsp;хочу заниматься. С&nbsp;того момента прочитал немало литературы, просмотрел несколько курсов и&nbsp;написал несколько сайтов на&nbsp;HTML5 и&nbsp;CSS3, Javascript. Хочу найти команду, которая примет меня как начинающего фронтенд&nbsp;&mdash; разработчика, а&nbsp;я&nbsp;в&nbsp;свою очередь буду расти и&nbsp;развиваться. <br><br>Что я&nbsp;могу предложить Вам? Имею уверенные знания HTML5, CSS3, хорошо знаком с&nbsp;Javascript ES6, адаптивной&nbsp;&mdash; кроссбраузерной версткой, свободно владению навыками работы с&nbsp;Adobe Photoshop, Figma, Zeplin. Не&nbsp;представляю верстки без PUG/SCSS, тем самым гарантирую организованную и&nbsp;быструю работу. Так&nbsp;же для ускорения верстки использую сборку Gulp. Умею разбираться в&nbsp;чужом коде. Умею работать с&nbsp;Git.