.header
    .container
        .header__wrapper
            a(href="#" data-hover="kuzinkim").header__logo kuzinkim
            nav.header__menu.js-menu
                a(href="#").header__menu-link Home
                a(href="#").header__menu-link About
                a(href="#").header__menu-link Skils
            .header__burger.burg.js-burg
                .burg__line
                .burg__line
                .burg__line
