.portfolio#portfolio
    .container
        .portfolio__title.title Кейсы
        .portfolio__inner
            .portfolio__item(style="background-image: url(assets/images/arturbanderos1.jpg)")
                .portfolio__item-wrapper
                    .portfolio__item-title
                        span Артур Бандерос
                    .portfolio__item-description
                        span Сайт-визитка ведущего праздничных мероприятий.
                    .portfolio__item-bottom
                        a(href="https://github.com/kuzinkim" target="_blank").portfolio__item-link
                            i.fab.fa-github
                        a(href="http://arturbanderos.ru" target="_blank").portfolio__item-link
                            i.fas.fa-link
            .portfolio__item(style="background-image: url(assets/images/artActive.jpg)")
            .portfolio__item
            .portfolio__item
            .portfolio__item
            .portfolio__item