.portfolio#portfolio
    .container
        .portfolio__title.title Кейсы
        .portfolio__inner
            .portfolio__item(style="background-image: url(assets/images/11.jpg)")
                .portfolio__item-wrapper
                    .portfolio__item-title
                        span Stihl
                    .portfolio__item-description
                        span Landing Page с распродажей акционнных товаров
                    .portfolio__item-bottom
                        a(href="https://github.com/kuzinkim/landing-page" target="_blank").portfolio__item-link
                            i.fab.fa-github
                        a(href="https://kuzinkim.github.io/landing-page/dist/" target="_blank").portfolio__item-link
                            i.fas.fa-link
            .portfolio__item(style="background-image: url(assets/images/22.jpg)")
                .portfolio__item-wrapper
                    .portfolio__item-title
                        span Bebi
                    .portfolio__item-description
                        span Landing Page для участия в конкурсе папиных писем
                    .portfolio__item-bottom
                        a(href="https://github.com/kuzinkim/bebiPage" target="_blank").portfolio__item-link
                            i.fab.fa-github
                        a(href="https://kuzinkim.github.io/bebiPage/dist/" target="_blank").portfolio__item-link
                            i.fas.fa-link
            .portfolio__item(style="background-image: url(assets/images/artActive.jpg)")
                .portfolio__item-wrapper
                    .portfolio__item-title
                        span Artactive
                    .portfolio__item-description
                        span Одностраничный сайт компании предоставляющая дизайн услуги
                    .portfolio__item-bottom
                        a(href="https://github.com/kuzinkim/Artactive" target="_blank").portfolio__item-link
                            i.fab.fa-github
                        a(href="https://kuzinkim.github.io/Artactive/dist/" target="_blank").portfolio__item-link
                            i.fas.fa-link