.portfolio#portfolio
    .container
        .portfolio__title.title Кейсы
        .portfolio__inner
            .portfolio__item(style="background-image: url(assets/images/arturbanderos1.jpg)")
            .portfolio__item(style="background-image: url(assets/images/artActive.jpg)")
            .portfolio__item
            .portfolio__item
            .portfolio__item
            .portfolio__item