.footer
    .container
        .footer__inner
            a(href="https://vk.com/kuzinkim" target="_blank").footer__item
                i.fab.fa-vk
            a(href="https://www.instagram.com/kuzinkim/" target="_blank").footer__item
                i.fa.fa-instagram
            a(href="https://tlgg.ru//kimkuzin" target="_blank").footer__item
                i.fab.fa-telegram-plane
            a(href="https://github.com/kuzinkim" target="_blank").footer__item
                i.fab.fa-github  
        .footer__copyright
            span kuzinkim