.main#main
    .container
        .main__wrapper
            span.main__text.animate-pop-in Меня зовут
            h1.main__title.animate-pop-in Ким Кузин
            p.main__description.animate-pop-in Рад видеть вас! <br>Здесь вы можете познакомится со мной и моими навыками Frontend-Разработчика
            a(href="assets/res.pdf" download="Резюме").main__button.button.animate-pop-in Скачать резюме
    .social
        span.social__text Social Links
        .social__group
            a(href="https://vk.com/kuzinkim" target="_blank").social__group-item
                i.fab.fa-vk
            a(href="https://www.instagram.com/kuzinkim/" target="_blank").social__group-item
                i.fa.fa-instagram
            a(href="https://tlgg.ru//kimkuzin" target="_blank").social__group-item
                i.fab.fa-telegram-plane
            a(href="https://github.com/kuzinkim" target="_blank").social__group-item
                i.fab.fa-github
