.main#main
    .container
        .main__wrapper
            h1.main__title.animate-pop-in Ким Кузин
            p.main__description.animate-pop-in Я фронтенд-разработчик. Занимаюсь разработкой 2 года. За&nbsp;это время реализовал с нуля более 10 проектов.
            .js-menu 
                a(href="#").main__button.button.animate-pop-in Скачать резюме
    .social
        span.social__text Social Links
        .social__group
            a(href="https://vk.com/kuzinkim" target="_blank").social__group-item
                i.fab.fa-vk
            a(href="https://www.instagram.com/kuzinkim/" target="_blank").social__group-item
                i.fa.fa-instagram
            a(href="https://tlgg.ru//kimkuzin" target="_blank").social__group-item
                i.fab.fa-telegram-plane
            a(href="https://github.com/kuzinkim" target="_blank").social__group-item
                i.fab.fa-github
