.title{
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 25px;
    display: inline-block;
    @include media-breakpoint-down(tablet) {
        display: block;
        text-align: center;
    }
    &::after{
        content: '';
        width: 100%;
        display: block;
        background-color: #ea1538;
        height: 4px;
        margin-top: 10px;
    }
}